<!-- HTML: Component Template -->
<div class="container mt-3">
  <div class="row">
    <div class="col-md-6">
      <label for="indicatorSelect">Seleziona città:</label>
      <ng-select
        [items]="cities"
        [(ngModel)]="selectedCities"
        [multiple]="true"
        bindLabel="name"
        bindValue="name"
        (change)="onCityChange()"
        placeholder="Seleziona una o più città">
      </ng-select>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="indicatorSelect">Seleziona un indicatore:</label>
        <select
          id="indicatorSelect"
          class="form-control"
          [(ngModel)]="selectedIndicator"
          (change)="onIndicatorChange()"
          placeholder="Seleziona un indicatore"
        >
          <option *ngFor="let indicator of indicators" [value]="indicator.name">
            {{ indicator.name }} ({{ indicator.description }})
          </option>
        </select>
      </div>
    </div>
  </div>
</div>

<div class="chart-container">
  <canvas id="chart"></canvas>
</div>
